body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 80px;
    margin-right: 40px;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
    background-size: 100%;
    cursor:copy;
  }

  
  @media screen and (max-width: 600px) {
    /* Estilos para dispositivos com largura máxima de 600 pixels */
}


h4 {
    font-weight: normal;
   /* Define o peso da fonte como normal (não negrito) */
  }

h3 {
    font-weight: normal;
  /* Define o peso da fonte como normal (não negrito) */
  }
  
  
.titulo-principal{
    font-size: 40px;
    transition: color 0.1s ease-in-out;
}


/* Estilo para o contêiner da imagem */
.imagem-container {
  display: inline-block; /* Para o contêiner se ajustar ao tamanho da imagem */
  transition: transform 0.5s ease-in-out; /* Adiciona transição de giro */
}

/* Estilo para a imagem dentro do contêiner */
.imagem-container img {
  width: 600px; /* Para garantir que a imagem não ultrapasse o contêiner */
}

/* Adiciona o efeito de giro ao passar o mouse */
.imagem-container:hover {
  transform: rotate(360deg);
}



.hidden {
  display: none;
}

button {
  background-color: darkgray; /* Cor de fundo verde */
  color: black; /* Cor do texto branco */
  padding: 20px /*vertical*/ 30px /*horizontal*/; /* Espaçamento interno do botão */
  font-size: 30px; /* Tamanho da fonte */
  border: none; /* Sem borda */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

button:hover {
  background-color: #6aee706b; /* Cor de fundo mais escura ao passar o mouse */
  cursor:-webkit-zoom-in;
}

body, html {
  padding: 0;
 /* overflow: hidden;*/
}

.rastro {
  position: absolute;
  width: 24px; /* Largura do rastro */
  height: 24px; /* Altura do rastro */
  transform-origin: center; /* Define o ponto de origem da transformação no centro */
  transform: scale(0); /* Inicia com escala zero para esconder o rastro inicialmente */
  transition: transform 0.2s; /* Adiciona transição suave à escala */
  pointer-events: none; /* Permite que o elemento seja ignorado pelos eventos do mouse */
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}


#toggleButton {
    z-index: 1000; /* Ajuste o valor conforme necessário */
}
